Source: ros-kilted-moveit-task-constructor-msgs
Section: misc
Priority: optional
Maintainer: Robert Haschke <rhaschke@techfak.uni-bielefeld.de>
Build-Depends: debhelper (>= 9.0.0), ros-kilted-ament-cmake, ros-kilted-moveit-msgs, ros-kilted-rosidl-default-generators, ros-kilted-visualization-msgs, ros-kilted-ros-workspace, ros-kilted-rosidl-typesupport-fastrtps-c, ros-kilted-rosidl-typesupport-fastrtps-cpp
Homepage: 
Standards-Version: 3.9.2

Package: ros-kilted-moveit-task-constructor-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kilted-moveit-msgs, ros-kilted-rosidl-default-runtime, ros-kilted-visualization-msgs, ros-kilted-ros-workspace
Description: Messages for MoveIt Task Pipeline
