Source: ros-humble-moveit-task-constructor-visualization
Section: misc
Priority: optional
Maintainer: Robert Haschke <rhaschke@techfak.uni-bielefeld.de>
Build-Depends: debhelper (>= 9.0.0), libfmt-dev, qtbase5-dev, ros-humble-ament-cmake, ros-humble-ament-cmake-gmock <!nocheck>, ros-humble-ament-cmake-gtest <!nocheck>, ros-humble-launch <!nocheck>, ros-humble-launch-testing <!nocheck>, ros-humble-launch-testing-ament-cmake <!nocheck>, ros-humble-launch-testing-ros <!nocheck>, ros-humble-moveit-core, ros-humble-moveit-ros-visualization, ros-humble-moveit-task-constructor-core, ros-humble-moveit-task-constructor-msgs, ros-humble-rclcpp, ros-humble-rviz2, ros-humble-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-moveit-task-constructor-visualization
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libfmt-dev, ros-humble-moveit-core, ros-humble-moveit-ros-visualization, ros-humble-moveit-task-constructor-core, ros-humble-moveit-task-constructor-msgs, ros-humble-rclcpp, ros-humble-rviz2, ros-humble-ros-workspace
Description: Visualization tools for MoveIt Task Pipeline
